<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Countdown Timer</title>
</head>
<body>
    <div id="nav">
        <a href="../view/index.html"><h1>countdown</h1></a>
        <a href="../view/set.html"><img src="../img/set.png"></a>
    </div>
    <div id="main">
        <h1>카운트 다운 타이머</h1>
        <p id="countdown"></p>
        <div>
            <input type="date" id="dateInput">
        </div>
        <div id="button">
            <button onclick="startCountdown()">시작</button>
            <button onclick="stopCountdown()">중지</button>
        </div>
    
    </div>
    
    <script src="../script/script.js"></script>
</html>
